#carousel {
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
}
.carousel-caption {
  font-size: 24px;
}
.carousel-caption h4 {
  font-size: 32px;
}
#carousel .carousel-item {
  height: 400px;
}
