
<footer>
<div class="address">
    <p>
      <i class="fas fa-map-marker-alt"></i>700019 Iasi Str. Palas nr. 22</p>
    <p>
      <i class="far fa-clock"></i>Everyday from 10:00 AM to 11:00 PM</p>
    <p>
      <i class="fas fa-phone"></i>+40 7564 435</p>
    <p>
      <i class="fas fa-envelope"></i>pizzacreator@gmail.com</p>
  </div>
<div class="subscribe">
  <h3>SUBSCRIBE TO US</h3>
  <div class="social">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
  </div>
  <form>
    <input type="email" id="subscribe_email" name="email" placeholder="Email Address">
    <button class="btn-subscribe">SUBSCRIBE</button>
  </form>
</div>
<div class="map">
   <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1890.9561197396285!2d27.586724379214655!3d47.155638947842284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb9eb8f666ed%3A0x6d5951ccb0b8069b!2sStrada+Palas+22%2C+Ia%C8%99i+700259!5e0!3m2!1sen!2sro!4v1523728641813">
  </iframe>

</div>
<div class="up">
  <button class="btn-up"><i class="fas fa-arrow-up"></i></button>
  <p>© SysDevWeb Proj</p>
</div>
</footer>


<script src="<%= assetFingerprint('/js/scripts.js') %>"></script>
</body>

</html>