<div class="menu">
  <div class="category">
   <input type="radio" name="category" id="pizza" value="pizza" checked>
   <label for="pizza">
     <span>
     </span>
   </label>
  </div>
  <div class="category">
   <input type="radio" name="category" id="salad" value="salad">
   <label for="salad">
     <span>
     </span>
   </label>
  </div>
  <div class="category">
   <input type="radio" name="category" id="desert" value="desert">
   <label for="desert">
     <span>
     </span>
   </label>
  </div>
  <div class="category">
   <input type="radio" name="category" id="beverages" value="beverages">
   <label for="beverages">
     <span>
     </span>
   </label>
  </div>
  <div class="category">
   <input type="radio" name="category" id="vegan" value="vegan">
   <label for="vegan">
     <span>
     </span>
   </label>
 </div>
</div>