<div class="products">
<form class="pizza-tile">
  <a href="https://www.w3schools.com">
  <div class="tile-header" style="background-image:url('https://i.postimg.cc/44b1D01y/Rectangle-417.png');">
    <i class="fab fa-adn">
      <p class="alergents">ALERGENTS:</p>
      <p class="alergents">soiasdas,dasdas,dasdas,dasdas dasdsa,asdas asdsa</p>
    </i>
  </div>
  </a>
  <div class="tile-body">
      <h3>Pizza example</h3>
      <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>

     <h4>Size</h4>
    <div class="size">
      
           <div>
      <input type="radio" name="size" id="i-size-1" value="25cm" checked>
             <label for="i-size-1">
               <span><p>25cm (500gr)</p>
                <i>20.0</i>
        </span>
             </label>
        </div>
       <div>
      <input type="radio" name="size" id="i-size-2" value="30cm">
      <label for="i-size-2">
        <span><p>30cm (650gr)</p>
          <i>25.0</i>
      </span>
             </label>
        </div>
         <div>
      <input type="radio" name="size" id="i-size-3" value="35cm">
      <label for="i-size-3">
        <span><p>35cm (800gr)</p>
          <i>30.0</i>
      </span>
             </label>
        </div>
    </div>
       

    <div class="price-qty">
      <div class="price">
        <h4>Price</h4>
        <p>20</p>
      </div>
      <div class="qty">
        <h4>Qty</h4>
        <input type="number" name="qty" min="1" max="9" step="1" value="1">
      </div>
    </div>

    <button class="add-product">
      <i class="fas fa-angle-down"></i>
      Add to basket
      <span class="total"></span>
      </button>
        </div>
</form>
<form class="pizza-tile">
  <div class="tile-header" style="background-image:url('https://i.postimg.cc/44b1D01y/Rectangle-417.png');">
    <i class="fab fa-adn">
      <p class="alergents">ALERGENTS:</p>
      <p class="alergents">soiasdas,dasdas,dasdas,dasdas dasdsa,asdas asdsa</p>
    </i>
  </div>
  <div class="tile-body">
      <h3>Pizza example </h3>
      <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>

     <h4>Size</h4>
    <div class="size">
      
           <div>
      <input type="radio" name="size" id="i-size-11" value="25cm" checked>
             <label for="i-size-11">
               <span><p>25cm (500gr)</p>
                <i>20.0</i>
        </span>
             </label>
        </div>
       <div>
      <input type="radio" name="size" id="i-size-22" value="30cm">
      <label for="i-size-22">
        <span><p>30cm (650gr)</p>
          <i>25.0</i>
      </span>
             </label>
        </div>
         <div>
      <input type="radio" name="size" id="i-size-33" value="35cm">
      <label for="i-size-33">
        <span><p>35cm (800gr)</p>
          <i>30.0</i>
      </span>
             </label>
        </div>
    </div>
       

    <div class="price-qty">
      <div class="price">
        <h4>Price</h4>
        <p>20</p>
      </div>
      <div class="qty">
        <h4>Qty</h4>
        <input type="number" name="qty" min="1" max="9" step="1" value="1">
      </div>
    </div>

    <button class="add-product">
      <i class="fas fa-angle-down"></i>
      Add to basket
      <span class="total"></span>
      </button>
        </div>
</form>
<form class="pizza-tile">
  <div class="tile-header" style="background-image:url('https://i.postimg.cc/44b1D01y/Rectangle-417.png');">
    <i class="fab fa-adn">
      <p class="alergents">ALERGENTS:</p>
      <p class="alergents">soiasdas,dasdas,dasdas,dasdas dasdsa,asdas asdsa</p>
    </i>
  </div>
  <div class="tile-body">
      <h3>Pizza example</h3>
      <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>

     <h4>Size</h4>
    <div class="size">
      
           <div>
      <input type="radio" name="size" id="i-size-111" value="25cm" checked>
             <label for="i-size-111">
               <span><p>25cm (500gr)</p>
                <i>20.0</i>
        </span>
             </label>
        </div>
       <div>
      <input type="radio" name="size" id="i-size-222" value="30cm">
      <label for="i-size-222">
        <span><p>30cm (650gr)</p>
          <i>25.0</i>
      </span>
             </label>
        </div>
         <div>
      <input type="radio" name="size" id="i-size-333" value="35cm">
      <label for="i-size-333">
        <span><p>35cm (800gr)</p>
          <i>30.0</i>
      </span>
             </label>
        </div>
    </div>
       

    <div class="price-qty">
      <div class="price">
        <h4>Price</h4>
        <p>20</p>
      </div>
      <div class="qty">
        <h4>Qty</h4>
        <input type="number" name="qty" min="1" max="9" step="1" value="1">
      </div>
    </div>

    <button class="add-product">
      <i class="fas fa-angle-down"></i>
      Add to basket
      <span class="total"></span>
      </button>
        </div>
</form>
<form class="pizza-tile">
  <div class="tile-header" style="background-image:url('https://i.postimg.cc/44b1D01y/Rectangle-417.png');">
    <i class="fab fa-adn">
      <p class="alergents">ALERGENTS:</p>
      <p class="alergents">soiasdas,dasdas,dasdas,dasdas dasdsa,asdas asdsa</p>
    </i>
  </div>
  <div class="tile-body">
      <h3>Pizza example</h3>
      <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>

     <h4>Size</h4>
    <div class="size">
      
           <div>
      <input type="radio" name="size" id="i-size-1111" value="25cm" checked>
             <label for="i-size-1111">
               <span><p>25cm (500gr)</p>
                <i>20.0</i>
        </span>
             </label>
        </div>
       <div>
      <input type="radio" name="size" id="i-size-2222" value="30cm">
      <label for="i-size-2222">
        <span><p>30cm (650gr)</p>
          <i>25.0</i>
      </span>
             </label>
        </div>
         <div>
      <input type="radio" name="size" id="i-size-3333" value="35cm">
      <label for="i-size-3333">
        <span><p>35cm (800gr)</p>
          <i>30.0</i>
      </span>
             </label>
        </div>
    </div>
       

    <div class="price-qty">
      <div class="price">
        <h4>Price</h4>
        <p>20</p>
      </div>
      <div class="qty">
        <h4>Qty</h4>
        <input type="number" name="qty" min="1" max="9" step="1" value="1">
      </div>
    </div>

    <button class="add-product">
      <i class="fas fa-angle-down"></i>
      Add to basket
      <span class="total"></span>
      </button>
        </div>
</form>
</div>