<div class="modal fade basket" id="basket" tabindex="-1" role="dialog" aria-labelledby="basket" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="basketLabel"><i class="fas fa-shopping-basket"></i>Shopping Basket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body basket-body">
        
<form class="basket-item">
<div class="content">
  <h4 class="title-pizza">Pizza example</h4>
  <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>
    <p class="alergents">ALERGENTS: soiasdas,dasdas, dasdas,dasdas dasdsa,asdas asdsa</p>
</div>
  <h4 class="title-size">Size</h4>
  <div class="size">
     <div>
    <input type="radio" name="basket-item-size" id="size-1" value="25cm" checked>
           <label for="size-1">
             <p>25cm (500gr)</p>
              <i>20</i>
      
           </label>
      </div>
     <div>
    <input type="radio" name="basket-item-size" id="size-2" value="30cm">
    <label for="size-2">
      <p>30cm (650gr)</p>
        <i>25</i>
           </label>
      </div>
     <div>
    <input type="radio" name="basket-item-size" id="size-3" value="35cm">
    <label for="size-3">
      <p>35cm (800gr)</p>
        <i>30</i>
           </label>
      </div>
  </div>
<div class="qty">
  <h4>Price x Qty</h4>
  <div class="price-qty">
    <p class="text-price">20</p><p>x</p>
    <input type="number" name="price-qty" min="1" max="9" step="1" value="1">
  </div>
</div>
<div class="subtotal">
 <i class="fas fa-times delete-item"></i>
<div class="price">
  <p class="text-subtotal">20</p>
  <p>RON</p>
</div>
</div>
</form>
<form class="basket-item">
<div class="content">
  <h4 class="title-pizza">Pizza example</h4>
  <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>
    <p class="alergents">ALERGENTS: soiasdas,dasdas, dasdas,dasdas dasdsa,asdas asdsa</p>
</div>
  <h4 class="title-size">Size</h4>
  <div class="size">
     <div>
    <input type="radio" name="basket-item-size" id="size-11" value="25cm" checked>
           <label for="size-11">
            <p>25cm (500gr)</p>
              <i>20</i>
      
           </label>
      </div>
     <div>
    <input type="radio" name="basket-item-size" id="size-22" value="30cm">
    <label for="size-22">
      <p>30cm (650gr)</p>
        <i>25</i>
    
           </label>
      </div>
     <div>
    <input type="radio" name="basket-item-size" id="size-33" value="35cm">
    <label for="size-33">
      <p>35cm (800gr)</p>
        <i>30</i>
           </label>
      </div>
  </div>
<div class="qty">
  <h4>Price x Qty</h4>
  <div class="price-qty">
    <p class="text-price">20</p><p>x</p>
    <input type="number" name="price-qty" min="1" max="9" step="1" value="1">
  </div>
</div>
<div class="subtotal">
 <i class="fas fa-times delete-item"></i>
<div class="price">
  <p class="text-subtotal">20</p>
  <p>RON</p>
</div>
</div>
</form>

  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-lg btn-block">Clear</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Order(<span id="#basket-total"></span>)</button>
      </div>
    </div>
  </div>
</div>