<div class="modal fade" id=signin tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signinLabel"><i class="fas fa-user"></i>Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-login">
        <div class="form-group">
            <label for="loginusername">User Name</label>
            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter username(login)...">
        </div>
        <div class="form-group">
            <label for="loginpassword"> Password</label>
            <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter password...">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block login-button">Login</button>
      </div>
    </div>
  </div>
</div>