
<footer>
<!-- Footer Links -->
<div class="container text-center text-md-left">

  <!-- Footer links -->
  <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <p>
        <i class="fas fa-map-marker-alt mr-3"></i>700019 Iasi Str. Palas nr. 22</p>
      <p>
        <i class="far fa-clock mr-3"></i>Everyday from 10:00 AM to 11:00 PM</p>
      <p>
        <i class="fas fa-phone mr-3"></i>+40 7564 435</p>
      <p>
        <i class="fas fa-envelope mr-3"></i>pizzacreator@gmail.com</p>
    </div>

        <!-- Grid column -->
    <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Subscribe TO US</h6>
            <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
            
      <!-- Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <div class="mb-5 flex-center">
                    <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
        </a>
                   <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
        </a>
                    <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
        </a>
      </div>

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row-->
  
   <!-- Grid row-->
  <div class="row">
    <form class="form-inline subscribe-form">
<div class="form-group mx-sm-3 mb-2">
<input type="password" class="form-control" id="inputPassword2" placeholder="Email Address">
</div>
<button type="submit" class="btn btn-primary mb-2">Subscribe</button>
</form>
  </div>
  <!-- Grid row-->
      
      
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <hr class="w-100 clearfix d-md-none">
    
              <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <iframe width="150%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1890.9561197396285!2d27.586724379214655!3d47.155638947842284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb9eb8f666ed%3A0x6d5951ccb0b8069b!2sStrada+Palas+22%2C+Ia%C8%99i+700259!5e0!3m2!1sen!2sro!4v1523728641813"></iframe>
                        
    </div>
</div> 
</div>
  <!-- Copyright -->
<div class="footer-copyright text-center py-3">© WebSysDev Proj:
  <a href="https://github.com/silverfang94/pizzaconstructor">Github Proj</a>
</div>
<!-- Copyright -->
</footer>

<script src="<%= assetFingerprint('/js/scripts.js') %>"></script>
</body>

</html>