<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<% include ../layouts/carousel.ejs %>
<div class="menu-content">
<% include ../layouts/menu_radio.ejs %>
<% include ../layouts/products.ejs %>
</div>
<% include ../layouts/footer.ejs %>